.content {
	margin-top: 60px; 
}
.button {
	margin-bottom: 10px;
	margin-left: 4px;
}
.ok {
	margin-left: 10px;
}
.block {
	border: 6px solid black; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
}
.step {
	color: red;
}